<div class="container profile-holder">
	<div class="row">
		<div class="col s3">
			<%= image_tag "one.jpg", alt: "Cool image Here", class: "cool-avatar" %>
		</div>
		<div class="col s8">
			
			<div class="row">
				<div class="col s12">
					<h4 class="profile-name">
						<strong>
						<%= @user.name%>
						</strong>
					</h4>
					<div>
						<h6>
							Total Points: <%=@user.score %> <br><br> Highscore: <%=@user.highscore %>
						</h6>				
					</div>
					<br>
					<hr>
				</div>
			</div>

			<div class="row">
				<div class="col s12">
					<h5>
						Charities Helped:
					</h5>
					<ul>
						<% @user.charities.each_with_index do |charity, i|%>

						<% if charity.name? && charity.name === @user.current_charity %>
						<li>
							<p>
							You are currently helping: <%= charity.name %>
							</p>
						</li>
						<% elsif charity.name? %>
						<li>
							<p>
								<%= charity.name %>
							</p>
						</li>
						<% else %>
						<li>
							<a href="/charities">Need to pick a Charity? Click Here.</a>
						</li>
						<% end %>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
</div>