 <div class="container">
      <div class="row">
        <div class="col s6">
        <h4>Create a game</h4>
        	<%= form_for [@game] do |f| %>

			<%= f.label :name, "Name" %>
			<%= f.text_field :name, :class => "validate" %>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
        	<%=f.label :game_image %>
  			<br>
    			<%= f.file_field :game_image %>
        </div>
    </div>

      <div class="row">
        <div class="col s8">
         	<%= f.label :description%>
			<%= f.text_area :description %>
        </div>
      </div>

      <div class="row">
        <div class="col s8">
          <%= f.label :time %>
          <%= f.text_field :time %>
        </div>
      </div>

      <div class="row">
      	<div class="col s3">
      		<%= f.submit "Submit" %>
      		<% end %>
      	</div>
      </div>
  </div>