<div class="container">
	<div class="row">
		<div class="center">
			<h3>Welcome to <%= @game.name %>! Time to play.</h3>
			<h5>What are you doing? <%=@game.description %></h5>
		</div>
	</div>
</div>
<div class="col l12 ">
			<div class="points-holder left-align" data-game-id="<%=@game.id%>" data-user-id="<%= current_user.id%>"><h3 class="red-text">Points: <span class="points">0</span></h3></div>
			<div id="<%=@game.name[0..4] %>" class="valign-wrapper">
				<div class="valign start-holder center-align">
					<a href="#" class="start-game light-green-text text-accent-4">Start Game</a>
				</div>
			</div>
</div>