<!DOCTYPE html>
<html>
<head>
  <title>GFC</title>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=ABeeZee|Black+Ops+One' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>
    <nav>
        <div class="nav-wrapper default-nav-bar light-blue accent-3">
          <div class="container">
            <%=link_to("G.F.C. Game For Charity", root_path, class:"brand-logo green-text") %>
            
          </div>
          <ul id="nav-mobile" class="right">
            <li><%= link_to("Games", games_path, class: "black-text") %></li>
            <% if user_signed_in? %>
            <li>
                <% if current_user.charities.blank? %>
                <span class="green-text">Pick a Charity!</span>
                <% else %>
                <span class="green-text">Current charity: <%=current_user.charities.last.name%></span>
                <% end %>
            </li>
            <li>
            <%= link_to("Profile", user_path(current_user), class: "red-text") %>
            </li>
            <li>
            <%= link_to("Select a Charity", charities_path, class: "black-text") %>
            </li>
            <li>
            <%= link_to("Sign out", destroy_user_session_path, method: :delete, class: "black-text") %>
            </li>
            <% else %>
            <li>
              <%= link_to("Login", new_user_session_path, class: "black-text") %>
            </li>
            <li>
            <%= link_to("Sign Up", new_user_registration_path, class: "black-text") %>
            </li>
            <% end %>
          </ul>
        </div>
    </nav>
  </header>
<main>
  <%= yield %>
  
</main>

<footer class="page-footer light-blue accent-3 black-text">
          <div class="container ">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="black-text">GFC</h5>
                <h6 class="black-text"> Game for Charity</h6>
                <p class="black-text">Made with the spirit of coding and gaming.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="black-text">Navigation</h5>
                <ul>
                  <li>
                      <%=link_to("Home", root_path, class:"black-text") %>
                  </li>
                  <li>
                      <%= link_to("Games", games_path, class: "black-text") %>
                  </li>
                  <% if current_user %>
                  <li>
                      <%= link_to("Sign out", destroy_user_session_path, method: :delete, class: "black-text") %>
                  </li>
                  <% else %>
                  <li>
                     <%= link_to("Login", new_user_session_path, class: "black-text") %>
                  </li>
                  <li>
                    <%= link_to("Sign Up", new_user_registration_path, class: "black-text") %> 
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container black-text">
            © 2016 Copyright Text
            </div>
          </div>
</footer>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>
</html>
