<!DOCTYPE html>
<html>
<head>
  <title>GC</title>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=ABeeZee|Black+Ops+One' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>
    <div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper default-nav-bar">
       <!--    <div class="container"> -->
            <a href="/" class="brand-icon"><%= image_tag "g2charityLogoPurple.png", class: "g2charityLogo" %></a>
            <%=link_to("GAMING TO THE CHARITY", root_path, class:"brand-logo") %>
            
          <!-- </div> -->
          <ul id="nav-mobile" class="right">
            <li><%= link_to("Games", games_path, class: "white-text") %></li>
            <% if user_signed_in? %>
            <li>
                <% if current_user.charities.blank? %>
                <span class="white-text">Pick a Charity!</span>
                <% else %>
                <span class="white-text">Current charity: <span class="charity-name"><%=current_user.current_charity%></span></span>
                <% end %>
            </li>
            <li>
            <%= link_to("Profile", user_path(current_user), class: "white-text") %>
            </li>
            <li>
            <%= link_to("Select a Charity", charities_path, class: "white-text") %>
            </li>
            <li>
            <%= link_to("Sign out", destroy_user_session_path, method: :delete, class: "white-text") %>
            </li>
            <% else %>
            <li>
              <%= link_to("Login", new_user_session_path, class: "white-text") %>
            </li>
            <li>
            <%= link_to("Sign Up", new_user_registration_path, class: "white-text") %>
            </li>
            <% end %>
          </ul>
        </div>
    </nav>
    </div>
  </header>
<main>
  <%= yield %>
  
</main>

<footer class="page-footer white-text">
          <div class="container ">
            <div class="row">
              <div class="col l6 s6">
                <h6 class="white-text gc-logo"> 
                  <span>
                    <%= image_tag "g2charityLogoPurple.png", class: "g2charityLogo" %>
                    
                  </span>
                  Gaming to the Charity
                </h6>
                <p class="white-text">Made with the spirit of coding and gaming.</p>
              </div>
              <div class="col l4 offset-l2 s4 offset-s2">
                <h5 class="white-text">Navigation</h5>
                <ul>
                  <li>
                      <%=link_to("Home", root_path, class:"white-text") %>
                  </li>
                  <li>
                      <%= link_to("Games", games_path, class: "white-text") %>
                  </li>
                  <% if current_user %>
                  <li>
                      <%= link_to("Sign out", destroy_user_session_path, method: :delete, class: "white-text") %>
                  </li>
                  <% else %>
                  <li>
                     <%= link_to("Login", new_user_session_path, class: "white-text") %>
                  </li>
                  <li>
                    <%= link_to("Sign Up", new_user_registration_path, class: "white-text") %> 
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container white-text">
            © 2016 Copyright 
            </div>
          </div>
</footer>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>
</html>
